__pycache__/
*.py[cod]
.pytest_cache/
event_queue.json
*.log
*.tmp
thief_server/scene_data/
thief_client/scene_cache/
thief_server/photo_sessions/
thief_server/client_settings.json
.venv/
/_sim_configs/
/bg.psd
