[Unit]
Description=Thief Game Server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/thief_server
Environment=PYTHONUNBUFFERED=1
Environment=THIEF_SERVER_CONFIG=/home/pi/thief_server/config.json
ExecStart=/usr/bin/python3 /home/pi/thief_server/main.py
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
