[Unit]
Description=Thief Game Client
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/thief_client
ExecStart=/usr/bin/python3 /home/pi/thief_client/main.py
Restart=on-failure
RestartSec=2
Environment=PYTHONUNBUFFERED=1
Environment=DISPLAY=:0
Environment=SDL_VIDEODRIVER=kmsdrm

[Install]
WantedBy=multi-user.target
